<h1>Say#hello</h1>
<p>Find me in app/views/say/hello.html.erb</p>

Hello Ismail

<% 3.times do %>
<p>HO!</p>
    <h2><%= @yo %></h2>
    <h3> <%= @time %></h3>

<% end %>
<br>
<%= link_to "teach Ismail" , ismail_teach_path %>
